!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Seu cadastro foi alterado pelo seu gerente, #{@user.name}.

    %p
      %b Alterações

    - @changes.keys.each do |k|
      %b #{k.capitalize}:
      %p De "#{@changes[k.to_sym][0]}" para "#{@changes[k.to_sym][1]}"

    %p Te manteremos informados sempre que suas informações forem atualizadas por outra pessoa.

    %p
      À disposição,
      Equipe Checker.