!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Seu cadastro foi alterado, #{@user.name}
    %p
      / - @changes.each do |u|
      /   u.
      Muito Obrigado,
      Equipe Checker.