.fluid-content
  %h1.center #{@current_user.name}
  %br
  #message= flash_message
  .striped-warning
    %p Você terminou as suas horas na tarefa que executava.
    %p Entre em contato com o seu gerente para maiores informações.