.fluid-content
  %h1.center #{@current_user.name}
  %br
  #message= flash_message
  .striped-warning
    %p Você não possui tarefas a serem checadas.
    %p Entre em contato com o seu gerente para maiores informações.