%p#notice= notice
%h2 Welcome, #{@current_user.name}
%h1 00:00
= form_tag "/checking" do
  %p
    %input#lat{name: "lat", type: "text"}/
  %p
    %input#lng{name: "lng", type: "text"}/
  %p
    %input{type: "submit", value: "Check-in"}/
/ %p= button_to 'Check-in', '/checking', method: :post
%p= link_to 'logout', '/logout'
