.span5.offset3
  %h4.text-center #{@current_user.name},
  %p.text-center
    %b
      clique em check-in para iniciar a contagem


  #message= flash_message

  %br
  #clock.clearfix
  %br

  .text-center
    = form_for @checking do |f|
      - render partial: 'form', locals: { f: f, button_name: "Check-in" }