- presenter = UserPresenter.new(manager: @current_user, employee: @employee)

.page-header
  %h1 Editar #{presenter.edit_employee_title}

%p#notice= notice

= form_for @employee, url: eval(presenter.edit_employee_form_url) do |f|
  = render partial: 'form', locals: { f: f, edit: true }

