.container
  %h1 Checker
  .wrapper
    = render partial: 'notice', locals: {notice: notice}

    = form_for [:manager, @manager], url: manager_user_path, html: {:class => "form-horizontal"} do |f|
      .heading
        %h3.form-heading Sign Up!
      = render partial: 'form', locals: { f: f }

    = link_to 'Login', login_path