%h1 Create a Company
#message= flash_message

= form_for @company, url: company_path do |f|
  .field
    =f.label :name
    =f.text_field :name
  .field
    =f.label :cnpj
    =f.text_field :cnpj
  .button
    =f.submit