@import compass/css3

#main, #header-landing
  background-color: #FCFCFC
  padding: 3%
  width: 94%
  img
    height: 2em

.main-logo
  color: #193441
  font: 2.5em "bebas_neueregular"
  letter-spacing: 0.05em
  margin: 0 0.2%
  +text-shadow(1px 1px 1px #fff)
  text-transform: uppercase

#header-landing
  text-align: center
  #image
    display: block
    margin: 0 auto
    width: 50%
  img
    height: 100%
    width: 100%
    max-width: 100%
    max-height: 100%