body
  background-color: #F7F7F7
  font: 18px/20px "open_sansregular"

h1
  font: 2em/1.5em "Pathway Gothic One"
h2
  font: 1.5em/1.5em "Pathway Gothic One"
h3
  font: 1.2em/1.2em "Pathway Gothic One"

p
  font: 1em/1.5em "open_sansregular"

article
  padding: 0
  margin-bottom: 0.7em

a
  text-decoration: none
  &:hover
    text-decoration: underline
  &:visited
    color: #249AA7

.blocks
  margin: 0 auto
  text-align: center
  width: 90%

.item
  float: left
  width: 27%
  padding: 0 3% 0 3%
  p
    font-size: 0.75em
    margin-top: 0.75em
  img
    height: 5em
    width: 5em

#nav-header
  float: right
  li
    float: left

#main-content
  padding: 2% 3% 5% 3%

#landing-login
  margin: 0 auto
  width: 30%

