%h1 Apontador
%h2 Login
%p#notice= notice
= form_tag "/login" do
  %p
    %label{for: "email"} Email
    %input#email{name: "email", type: "text"}/
  %p
    %label{for: "password"} Password
    %input#password{name: "password", type: "password"}/
  %p
    = link_to 'signup', signup_path
  %p
    %input{:type => "submit", :value => "Login"}/
