#container.container-fluid
  %h1 Checker
  %h3 Login
  %p#notice.alert= notice
  = form_tag "/login" do
    .field
      %label{for: "username"} Email
      %input#email.imput-large{name: "username", type: "text"}/
    .field
      %label{for: "password"} Password
      %input#password{name: "password", type: "password"}/
    .field
      = link_to 'sign up', signup_path
    %input.btn{:type => "submit", :value => "Login"}/
