%section#main-content
  %section#right-content
    %article
      %header
        %h1 An Strong App
      %p Perfect to manage your freelancer in the confort of your home!

  %aside#left-aside
    %header
      %h2 Sign in

    #message= flash_message

    = form_tag "/login" do

      %fieldset
        %input#username{name: "username", type: "text", placeholder: "Username ou Email", imput_html: {size: 2}}

      %fieldset
        %input#password{name: "password", type: "password", placeholder: "Password"}

      %fieldset
        %input.button{type: "submit", value: "Login"}

      %p
        or
        = link_to 'Sign up', signup_path
