%nav
  %header
    %h1 Checker

%section
  %header
    %h2 Sign in

  = form_tag "/login" do

    #message= flash_message

    %fieldset
      %input#username{name: "username", type: "text", placeholder: "Username ou Email", imput_html: {size: 2}}/

    %fieldset
      %input#password{name: "password", type: "password", placeholder: "Password"}/

    %fieldset
      %input{:type => "submit", :value => "Login"}/

    %p
      or
      = link_to 'Sign up', signup_path