.base-form.login-form
  #message= flash_message

  %h2 Login

  = form_tag "/login" do
    %fieldset
      %input#username{name: "username", type: "text", placeholder: "Username ou Email", imput_html: {size: 2}}

    %fieldset
      %input#password{name: "password", type: "password", placeholder: "Senha"}

    %fieldset
      %input{type: "submit", value: "Login"}

    %p
      ou
      = link_to 'Cadastre-se', signup_path