body, html
  height: 100%

#wrap
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0 auto -4em 0

#wrap > .container
  padding-top: 4em

#push, #footer
  height: 4em

#footer
  background: #f5f5f5
  p
    margin: 1.3em 0 0 0

.block-left
  padding: 0 20px 0 20px
  float: left

.block-right
  float: right

.block-center
  margin: 0 auto

.spacing
  margin-bottom: 5px

.logo-font
  font-family: 'Playball', cursive


