// .error
//   color: red
//   display: block
//   text-transform: uppercase
//   width: 100%

.error
  background: #FFD7D8
  color: #DB0000
  display: block
  font: 700 0.75em "Open Sans"
  padding: 0.2em
  text-transform: uppercase
  text-align: center

.success
  background: #CFFAC9
  color: #3CA72D
  display: block
  font: 700 0.75em "Open Sans"
  padding: 0.2em
  text-transform: uppercase

.form-error
  background: #FFD7D8
  color: #DB0000
  display: block
  font: 700 0.75em "Open Sans"
  padding-left: 0.5em
  width: 100%

.striped-warning
  border: dashed 2px #B2B2B2
  padding: 2em 0.5em
  text-transform: uppercase
  text-align: center
  color: #A2A2A2
  font: 700 0.75em 'Open Sans'
  p
    color: #A2A2A2
    font-family: 'Open Sans'
    font-weight: 700