// COMPASS: STICKY-FOOTER
+sticky-footer(3em, "#wrap", "#push", "#footer")
//

#footer
  font-size: 0.8em
  color: #3F5666
  border-top: 1px #E6E6E6 solid
  padding-top: 0.5em
  p
    opacity: 0.8
    text-align: center
  p:hover
    opacity: 1
