%header#main
  .main-logo
    %a{href: root_path}
      %span checker

  %nav.nav-header
    - if session[:id]
      - if session[:manager]
        %ul
          %li= link_to 'Perfil', edit_manager_user_path
          %li= link_to 'Logout', logout_path
    - else
      %ul
        %li= link_to 'Login', login_path