!!! html5
%html
  %head
    %title Checking
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %script{:src => "http://maps.googleapis.com/maps/api/js?sensor=false"}
    = csrf_meta_tags
  %body{:onload => "init_geolocation()"}
    = yield