!!! html5
%html
  %head
    %title ADM Apontador
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1 Layout do ADM
    = yield
  %footer
    %p E tem footer!
